<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="C:/Users/vnahi/Documents/Web/style.css" />
		<script type="text/javascript" src="listener.ejs"></script>
        <title>Titre</title>
    </head>
	    <body onload="pageLoaded()">
		<h1 id="id">h1-1</h1>
		<h1 class="class">h1-2</h1>
		<h2 id="id">h2-1</h2>
		<h2 class="class">h2-2</h2>
		<div class="class">div-2</div>
		<div class="class">div-3</div>
		<p id="element">Le Lorem Ipsum est simplement du faux texte employé dans la composition<br/>
			et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie <br/>
			depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour<br/>
			réaliser un livre spécimen de polices de texte.</p>
		<ul id="id">ul1</ul>
		<ul class="class">ul2
			<li id="id">li1</li>
			<li class="class">li2</li>
			<li class="class">li3</li>
		</ul>

		<a id="id" href="https://developer.mozilla.org/">a1</a>
		<a class="class" href="https://developer.mozilla.org/">a2</a>
		<a class="class" href="https://developer.mozilla.org/">a3</a>
		<span id="id">span1</span>
		<span class="class">span2</span>
		<span class="class">span3</span>
    </body>
</html>