<h1>Signup</h1>
<form method="POST" action="/user">
    <br />
    <label>Email</label>
    <input type="email" name="email">
    <br />
    <label>Password</label>
    <input type="password" name="password">
    <br />
    <label>Adress</label>
    <input type="text" name="adresse">
    <br />
    <label>Post code</label>
    <input type="int" name="codepostal">
    <br />
    <label>City</label>
    <input type="string" name="ville">
    <br />
    <input type="submit" value="submit">

</form>

